:root { /* Raíz do documento */ 
    --title-color: #322153; /* Atalho */
    --primary-color: #1ad41a;
}

* { /* Pega todos os seletores */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pra arrumar o erro do padding com widht, que o padrão da borda é margin. Com isso coloca o padrão a borda */
    /* Qualquer coisa apertar F12 e ver a ordem, padding(preenchimento) -> border -> margin */
}

html {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #f0f0f5; /* Famoso RGB */
}

a {
    text-decoration: none; /* para tirar todos os sublinhados dos links */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}

/* BOX MODEL 
Toda caixa tem largura, espaçamentos, preenchimentos, bordas
cor, fundo, posicionamentos, alinhamentos...
maneira que é vista pelo html (display)
*/ 