<!-- FAZER UM READNAME DPS !!! -->
<!-- Para sair do node, .exit-->
<!-- Para entrar no node, node-->
<!-- Limpar tela, CRTL + L -->
<!-- Instalar esses módulos, nodemon, nunjucks, npm -->
<!-- Instalar o teplate do nunjucks e vscode icons, porém dps entrar em ... -->
<!-- CTRL+SHIFT+P, digitar settings JSON, entrar e deixar assim ...-->
<!-- 
{
    "liveServer.settings.donotVerifyTags": true,
    "liveServer.settings.donotShowInfoMsg": true,
    "workbench.colorTheme": "Launchbase Theme",
    "terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe",
    "window.zoomLevel": 0,
    "files.associations": {
        "*.html": "njk"
    },
    "emmet.includeLanguages": {
        "njk": "html"
    },
    "vsicons.associations.files": [
        {"icon": "nunjucks", "extensions": ["html"], "format": "svg" }
    ],
    "workbench.iconTheme": "vscode-icons"
}
-->